<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

# Hands-on Lab: Create your Jupyter Notebook

#### Add your code below following the instructions given in the course

In [12]:
# Exercise 1: Create a Jupyter Notebook

In [14]:
# Exercise 2: Create markdown cell with title of the notebook

# Data Science Tools and Ecosystem

In [8]:
#Exercise 3 - Create a markdown cell for an introduction

## In this notebook, Data Science Tools and Ecosystem are summarized.

In [64]:
# Exercise 10 - Insert a markdown cell to list Objectives

**Objectives:**
* List popular languages for Data Science
* Describe how to work in a notebook session
* Describe R capabilities and RStudio environment.

In [18]:
# Exercise 4 - Create a markdown cell to list data science languages

### Some of the popular languages that Data Scientists use are:
1. C++
2. Java
3. Python

In [31]:
# Exercise 5 - Create a markdown cell to list data science libraries

### Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. TensorFlow
3. PyTorch
4. Scikit-learn:
5. Matplotlib

In [35]:
# Exercise 6 - Create a markdown cell with a table of Data Science tools

| Data Science Tools |
|-----------------|
| Python |
| R |
| Git |

In [41]:
# Exercise 7 - Create a markdown cell introducing arithmetic expression examples

### Below are a few examples of evaluating arithmetic expressions in Python

In [47]:
# Addition
result_add = 5 + 3
print(f"5 + 3 = {result_add}") 

# Subtraction
result_sub = 10 - 4
print(f"10 - 4 = {result_sub}") 

# Multiplication
result_mul = 6 * 7
print(f"6 * 7 = {result_mul}")

5 + 3 = 8
10 - 4 = 6
6 * 7 = 42

In [49]:
# Exercise 8 - Create a code cell to multiply and add numbers

In [51]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [53]:
# Exercise 9 - Create a code cell to convert minutes to hours

In [57]:
# This will convert 200 minutes to hours by diving by 60
hrs = 200 / 60
print(f"200 / 60 = {hrs}")

200 / 60 = 3.3333333333333335

In [70]:
#Exercise 11 - Create a markdown cell to indicate the Author's name

### Author 
Mohammed Kharbatli

Copyright Â©2024 IBM Corporation. All rights reserved.